@use "btn/btn" as btn with ($btn-layer-spacing: 4px);
@use "../utilites/placeholders";
@use "../utilites/variables" as var;
@use "../utilites/functions" as fn;
@use "../utilites/mixins" as mix;

.welcome {
    grid-area: welcome;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 16px;

    @include mix.mq("lg", "max") {
        flex-direction: column;
        align-items: flex-start;
    };
};

.page-title {
    &-accent {
        @extend %section-title;

        display: block;
        margin-bottom: 8px;
        color: fn.get-color("light-primary");

        @include mix.mq("lg") {
            margin-bottom: 16px;
        };
    };
};