$colors: (
  'gray100': $gray100,
  'gray200': $gray200,
  'gray300': $gray300,
  'gray400': $gray400,
  'gray500': $gray500,
  'gray600': $gray600,
  'gray700': $gray700,
  'gray800': $gray800,
  'gray900': $gray900,
  'primary': $primary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'white': $white,
  'black': $black
);

// Classes for colors
@each $name, $color in $colors {
  // Text color
  .color-#{$name} {
    color: $color;
  }

  // Background color
  .bg-#{$name} {
    background-color: $color;
  }

  // Color for `svg`
  .fill-#{$name} {
    svg {
      color: $color;
    }
  }
}