@use "variables" as *;

$colors: (
"primary": $primary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger,
"light": $light,
"dark": $dark,
"gray": $gray,
"bg-secondary-1": $bg-secondary-1,
"bg-secondary-2": $bg-secondary-2,
"text-primary-1": $text-primary-1,
"text-primary-2": $text-primary-2,
"white": $white,
"black": $black,
);

// Classes for colors
@each $name, $color in $colors {
  // Text color
  .color-#{$name} {
    color: $color;
  }

  // Background color
  .bg-#{$name} {
    background-color: $color;
  }

  // Color for `svg`
  .fill-#{$name} {
    svg {
      color: $color;
    }
  }
}