@use "../../utilites/placeholders";
@use "../../utilites/variables" as var;
@use "../../utilites/functions" as fn;
@use "../../utilites/mixins" as mix;

.co-workers-table {
    width: 100%;

    @include mix.mq("md", "max") {
        display: none;
    };

    thead {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: fn.get-color('dark-tertiary');
        border-bottom-width: 1px;

        @include mix.mq('xl') {
            background-color: fn.get-color('dark-secondary');
        };

        th {
            @extend %details-accent;

            position: relative;
            padding: 12px 20px;

            color: fn.get-color('light');

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;

                display: block;
                width: 100%;
                height: 1px;

                background-color: fn.get-color('light-tertiary');

                @include mix.mq('xl') {
                    background-color: fn.get-color('dark-tertiary');
                };
            };
        
                
            &:first-child {
                text-align: center;
            };
        };
    };

    tbody {
        @extend %details;

        color: fn.get-color('light-secondary');

        td {
            position: relative;

            padding: 16px 20px;
            vertical-align: middle;
            border-bottom-width: 1px;
        
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
        
                display: block;
                width: 100%;
                height: 1px;
        
                background-color: fn.get-color('light-tertiary');
        
                @include mix.mq('xl') {
                    background-color: fn.get-color('dark-tertiary');
                };
            };
        };
    };

    .thumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include mix.frame(24px, $is-circle: true);
    };
};